# MongoDB Configuration
MONGO_URI=
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=

# FastAPI Configuration
APP_NAME=
ADMIN_EMAIL=
ITEMS_PER_USER=

# JWT Configuration
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_REFRESH_TOKEN_EXPIRE_DAYS=